
.contact{
    width: 100%;
    background-color: #FAFAFA;    
    padding: 30px;
    padding-left: 60px;
}
.contact >h1{
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 40px;
}
.contact-head{
    display: flex;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.map{
    /* margin-top: 50px; */
    width: 50%;
}
.map >iframe{
    height:65vh;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact-form{
    width: 50%;
    margin-top: 10px;
}
label{
    color: blue;
    font-size: 20px;
    margin-left: 30px;
}

input{
    width: 90%;
    padding: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-color: rgb(0, 60, 128);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
    border-radius: 3px;
    border: 2px solid rgb(150, 231, 245);
}

textarea{
    width: 90%;
    padding: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-color: rgb(0, 60, 128);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
    border: 2px solid rgb(150, 231, 245);
}
.submit-btn{
    width: 30%;
    /* margin-left: 14%; */
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.submit-btn >input{
    background-color: rgb(28, 101, 161);
    color: white;
    font-size: 20px;
}  

@media screen and (max-width: 800px) {
    .contact-head{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .map{
        /* margin-top: 50px; */
        width: 100%;
    }
    .contact-form{
        width: 100%;
        margin-top: 10px;
    }
}
